.contribute-grid-container {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "help-wrapper help-wrapper" "tds-values tds-values" "current-partners current-partners" "share-feedback share-feedback";
  // color: $white;
}

.help-wrapper {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  word-wrap: break-word;
  grid-area: help-wrapper;
  grid-template-areas: "help-title help-content";
  .help-title {
    grid-area: help-title;
    background-image: url(/img/contribute/help-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .help-content {
    grid-area: help-content;
    background-color: $gray-200;
  }
}

.tds-values {
  grid-area: tds-values;
  width: 100%;
  background-color: $gray-300;
  background-image: url(/img/contribute/roles-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;

  h3 {
    font-size: 1.2rem;
  }
}

.current-partners {
  grid-area: current-partners;
  width: 100%;
}

.share-feedback {
  grid-area: share-feedback;
  width: 100%;
  background-color: $tds-green-200;
  background-image: url(/img/contribute/feedback-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;

  .container {
    background-color: $white;
    padding: 100px;
  }
}
