.overview-grid-container {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(1fr, 1080px) 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "overview-intro-wrapper overview-intro-wrapper" "benefits-wrapper benefits-wrapper" "how-to how-to" "overview-why overview-why" "overview-vision overview-vision"
    "race-to-top race-to-top";
}

.overview-intro-wrapper {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  word-wrap: break-word;
  grid-area: overview-intro-wrapper;
  grid-template-areas: "overview-graphic overview-intro";
  .overview-graphic {
    grid-area: overview-graphic;
    background-image: url(/img/overview/overview-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .overview-intro {
    grid-area: overview-intro;
  }
}

.benefits-wrapper {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  word-wrap: break-word;
  grid-area: benefits-wrapper;
  grid-template-areas: "security-left security-right" "privacy-left privacy-right" "ownership-left ownership-right" "governance-left governance-right";
  background-color: $tds-blue-300;
  padding-top: 10%;
  p {
    color: $white !important;
  }
  .grid-item {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .security-left {
    grid-area: security-left;
  }
  .security-right {
    grid-area: security-right;
  }
  .privacy-left {
    grid-area: privacy-left;
  }
  .privacy-right {
    grid-area: privacy-right;
    // flex-direction: row;
    // justify-content: flex-start;
    // align-items: center;
  }
  .ownership-left {
    grid-area: ownership-left;
  }
  .ownership-right {
    grid-area: ownership-right;
  }
  .governance-left {
    grid-area: governance-left;
  }
  .governance-right {
    grid-area: governance-right;
    // flex-direction: row;
    // justify-content: flex-start;
    // align-items: center;
  }
}

.overview-benefit-bg {
  text-align: center;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 85px;
  .overview-benefit {
    height: 250px;
    width: 250px;
  }
}
#security-bg {
  background-image: url(/img/overview/graphics/security-bg.svg);
}
#privacy-bg {
  background-image: url(/img/overview/graphics/privacy-bg.svg);
}
#ownership-bg {
  background-image: url(/img/overview/graphics/ownership-bg.svg);
}
#governance-bg {
  background-image: url(/img/overview/graphics/governance-bg.svg);
}

.how-to {
  grid-area: how-to;
  width: 100%;
  background-color: $tds-green-200;
  background-image: url(/img/overview/how-to-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding: 100px;
  .container {
    background-color: $white;
    padding: 100px;
  }
}

.overview-why {
  grid-area: overview-why;
  margin: 150px 100px;
}

.overview-vision {
  grid-area: overview-vision;
  background-color: $tds-blue-300;
  padding: 150px 100px;
  p {
    color: $white;
  }
}

.race-to-top {
  grid-area: race-to-top;
  width: 100%;
  height: 540px;
  background-color: $tds-green-200;
  color: $white !important;
  display: flex;
  align-items: center;
}
