<footer id="pageFooter">
  <div class="container">
    <div class="row ">
      <div class="col-6">
        <h1>The<br />Digital<br />Standard</h1>
      </div>
      <div class="col-6 || d-flex justify-content-end">
        <ul class="footer-links || mb-0">
          <li><a href="/about/">about</a></li>
          <li><a href="/contribute/">contribute</a></li>
          <li><a href="/contact/">contact us</a></li>
        </ul>
      </div>
    </div>
    <div class="row || mt-4">
      <div class="col-12">
        {% include nav/socialnav.html %}
      </div>
    </div>
  </div>
</footer>