<footer id="pageFooter">
  <div class="container">
    <div class="row ">
      <div class="col-6">
        <h1>The<br />Digital<br />Standard</h1>
      </div>
      <div class="col-6 || d-flex justify-content-end">
        <ul class="footer-links">
          <li><a href="">overview</a></li>
          <li><a href="">contribute</a></li>
          <li><a href="">contact us</a></li>
        </ul>
      </div>
    </div>
    <div class="row || mt-4">
      <div class="col-12">
          <a class="footer-social || mr-4" target="_blank" href="###">
            <img  alt="The Digital Standard on Github" src="/img/global/github-ico.svg" />
          </a>
          <a class="footer-social" target="_blank" href="###">
            <img  alt="The Digital Standard on Medium" src="/img/global/medium-ico.svg" />
          </a>
      </div>
    </div>
  </div>
</footer>