<footer id="pageFooter">
  <div class="container">
    <div class="row ">
      <div class="col-6">
        <h1>The<br />Digital<br />Standard</h1>
      </div>
      <div class="col-6 || d-flex justify-content-end">
        <ul class="footer-links || mb-0">
          <li>
            <a href="/about/" class="editable">about</a>
          </li>
          <li><a href="/contribute/" class="editable">contribute</a></li>
          <li><a href="https://www.consumerreports.org/cro/2015/01/user-agreement/index.htm" target="_blank" class="editable">terms of service</a></li>
          <li><a href="/contact/" class="editable">contact us</a></li>
        </ul>
      </div>
    </div>
    <div class="row || mt-4">
      <div class="col-12">
        {% include nav/socialnav.html %}
      </div>
    </div>
  </div>
</footer>