<header id="pageHeader" class="bg-dark text-white">
  <div class="container">
    <nav id="mainnav" class="navbar navbar-expand-lg navbar-dark  || px-0">
      <a class="navbar-brand nav-icon-wrapper || mx-0" href="/">

      <img
      id="tds-nav-lockup"
      alt="The Digital Standard"
      src="/img/global/tds-lockup.svg"
      />
      </a>
      <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#primarynav" aria-controls="primarynav" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon">MENU</span> -->
        <span id="navbar-toggler-text">Menu</span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-end" id="primarynav">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link {% if page.url contains 'overview' %} active{% endif %}" href="/overview/">
              Overview
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url contains 'contribute' %} active{% endif %}" href="/contribute/">Contribute </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url contains 'contact' %} active{% endif %}" href="/contact/">Contact Us</a>
          </li>
          <li class="d-flex align-items-center ml-4">
            {% include nav/socialnav.html %}
          </li>
          <li class="nav-item ml-md-3">
            <a class="nav-link {% if page.url contains 'standard' %} active{% endif %}" href="/standard/" id="nav-the-standard">The Standard</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
