<section class=" bg-secondary">
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="editable text-serif text-thin">Case Studies</h1>
    </div>
    <div class="col-12 col-sm-6 || d-flex">


        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle || blue-button || p-3 small-text" type="button" id="leadOrgDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter by lead org
          </button>
          <div class="dropdown-menu" aria-labelledby="leadOrgDropdown">
            <a class="dropdown-item" href="#">Consumer Reports</a>
          </div>
        </div>
        <div class="dropdown ml-lg-3">
          <button class="btn btn-secondary dropdown-toggle || blue-button || p-3 small-text" type="button" id="leadOrgDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter by Status
          </button>
          <div class="dropdown-menu" aria-labelledby="leadOrgDropdown">
            <a class="dropdown-item" href="#">Well understood</a>
            <a class="dropdown-item" href="#">Under development</a>
            <a class="dropdown-item" href="#">Under discussion</a>
          </div>
        </div>
</div>


      <div class="col-12 col-sm-6 || d-flex align-items-center justify-content-end">
        <a href="#" class="casestudy-sort">A - Z</a>
        <a href="#" class="ml-lg-3 casestudy-sort">Recent</a>
        </div>
    </div>

    </div>
  </div>
</div>
</section>