<!-- TODO: Enter logic for category navigation -->
{% assign standard_category =  page.url | split: '/' | slice: 2 %}
<!-- {{ standard_category }} -->
{% assign cat = standard_category | array_to_sentence_string | strip %}

{% for object in site.data.standards %}
  {% assign key = object[0] %}
  {% if key contains cat %}
    {% assign side_nav = object %}
  {% endif %}
{% endfor %}
{% for item in side_nav %}
{% for category in item.categories %}
<h4>{{ category.label }}</h4>
<ul class="nav flex-column">
  {% for object in category.standards %}
  {% assign object_slug_formatted = object | split: '/' | slice: 1 %}
  {% assign instance = object_slug_formatted | array_to_sentence_string | strip %}
  {% assign standard = site.standards | where: 'slug', instance | first %}
  <li class="nav-item">
    <a class="nav-link" href="{{ standard.url }}.html">{{ standard.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
{% endfor %}


