{% assign route =  page.url | split: '/' | slice: 2 %}
{% assign navigation = site.data.standards[route.first] %}

{% for category in navigation.categories %}
  {% assign category_slug = category.label | slugify %}
<div
  href="#{{ category.label | slugify }}"
  class=" d-flex align-items-center">
  <h4>{{ category.label }}</h4>
</div>

<div id="{{ category.label | slugify }}" class="">
  <ul class="nav flex-column">
    {% for string in category.standards %}
    {% assign slug = string | split: '/' | slice: 1 | first %}
    {% assign standard = site.standards | where: 'slug', slug | first %}

    <li class="nav-item">
      <a class="nav-link {% if page.url contains string %}active{% endif %}" href="{{ standard.url }}">{{ standard.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}


