<!-- TODO: Enter logic for category navigation -->
{% assign standard_category =  page.url | split: '/' | slice: 2 %}
{{ standard_category }}
{% assign cat = standard_category | array_to_sentence_string | strip %}
<!-- This is not getting passed as string below -->

{% assign side_nav = site.data.standards | where: 'name', cat %}
{{ side_nav }}
{% for object in site.data.standards %}
  {% assign key = object.name %}
  {% if key contains cat %}
    <h1>Success</h1>
  {% endif %}
{% endfor %}
{% for item in side_nav %}
{% for category in item.categories %}
<h4>{{ category.label }}</h4>
<ul class="nav flex-column">
  <!-- TODO: Fix this logic -->
  {% for object in category.standards %}
  {% assign object_slug_formatted = object | split: '/' | slice: 1 %}
  {{ object_slug_formatted }}
  {% assign stand = site.standards | where: 'slug', object | first %}
  <li class="nav-item">
    <a class="nav-link" href="{{ stand.url }}.html">{{ stand.title }}</a>
  </li>
  {% endfor %}

  <!-- TODO: Remove hard coded values -->
  <!-- <li class="nav-item">
    <a class="nav-link" href="standard/security/authentication/">Authentication</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="standard/security/encryption/">Encryption</a>
  </li> -->
</ul>
{% endfor %}
{% endfor %}


