<nav id="standardnav" class="navbar navbar-expand-sm">
  <div class="collapse navbar-collapse justify-content-start">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link {% if page.url contains 'security' %} active{% endif %}" href="/standard/security/best-build-practices/">
          Security
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if page.url contains 'privacy' %} active{% endif %}" href="/standard/privacy/data-control/">
          Privacy
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.url contains 'ownership' %} active{% endif %}" href="/standard/ownership/interoperability/">
          Ownership
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.url contains 'governance' %} active{% endif %}" href="/standard/governance/business-model/">
          Governance
        </a>
      </li>
    </ul>
  </div>
</nav>