---
layout: default
---
<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-4 || case-study-label">
        <h2>Case Study</h2>
        <p>{{ page.title }}</p>
      </div>
      <div class="col-12 col-md-9 col-lg-8">
        <h2>Project Timeframe</h2>
        <p>{{ page.title }}</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-4 || case-study-label  || d-flex justify-content-end text-right">
        <h2>Problem</h2>
      </div>
      <div class="col-12 col-md-9 col-lg-8">
        {{ page.problem_html }}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-4 || case-study-label || d-flex justify-content-end text-right">
        <h2>Process/Method</h2>
      </div>
      <div class="col-12 col-md-9 col-lg-8">
        {{ page.problem_html }}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-4 || case-study-label || d-flex justify-content-end text-right">
        <h2>Output & Impact</h2>
      </div>
      <div class="col-12 col-md-9 col-lg-8">
        {{ page.problem_html }}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-4 || case-study-label || d-flex justify-content-end text-right">
        <h2 class="">DIGITAL STANDARD MAPPING</h2>
      </div>
      <div class="col-12 col-md-9 col-lg-8">
        {{ page.problem_html }}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-4 || case-study-label || d-flex justify-content-end text-right">
        <h2>WHO WAS INVOLVED?</h2>
      </div>
      <div class="col-12 col-md-9 col-lg-8">
        {{ page.problem_html }}
      </div>
    </div>
  </div>
</section>

