---
layout: default
---
<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-4">
        <h2 class="text-white ">Case Study</h2>
        <p class="text-large mt-4 text-thin">{{ page.title }}</p>
      </div>
      <div class="col-12 col-md-9 col-lg-8">
        <h2 class="text-white">Project Timeframe</h2>
        <p class="text-sans-serif mt-4">First Test Scores: {{ page.first_test_date }}</p>
        <p class="text-sans-serif mt-n2">Latest Update: {{ page.latest_update_date }}</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row case-study-label">
      <div class="col-12 col-md-3 col-lg-4 || d-flex justify-content-end text-right">
        <h1 class="">Problem</h1>
      </div>
      <div class="col-12 col-md-9 col-lg-8">
        {{ page.problem_html }}
        {% if page.problem_image %}
        <img class="img-fluid mt-4" alt="" src="{{ page.problem_image }}" />
        {% endif %}
      </div>

    </div>
  </div>
</section>

<section class="bg-grey">
  <div class="container">
    <div class="row case-study-label">
      <div class="col-12 col-md-3 col-lg-4 || case-study-label || d-flex justify-content-end text-right">
        <h1>Process/Method</h1>
        {% for method in page.process_methods %}
        <h2>{{ method.process_methods }}</h2>
        {% endfor %}
      </div>
      <div class="col-12 col-md-9 col-lg-8">
        {{ page.process_html }}
        {% if page.process_image %}
        <img class="img-fluid mt-4" alt="" src="{{ page.process_image }}" />
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row case-study-label">
      <div class="col-12 col-md-3 col-lg-4 || case-study-label || d-flex justify-content-end text-right">
        <h1>Output & Impact</h1>
      </div>
      <div class="col-12 col-md-9 col-lg-8">
        {{ page.impact_html }}
        {% if page.impact_image %}
        <img class="img-fluid mt-4" alt="Output & Impact" src="{{ page.impact_image }}" />
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="bg-grey">
  <div class="container">
    <div class="row case-study-label">
      <div class="col-12 col-md-3 col-lg-4 || case-study-label || d-flex justify-content-end text-right">
        <h1 class="">DIGITAL STANDARD MAPPING</h1>
      </div>
      <div class="col-12 col-md-9 col-lg-8">
        {{ page.standard_mapping_html }}
        {% if page.digital_standard_criteria_image_image %}
        <img class="img-fluid mt-4" alt="DIGITAL STANDARD MAPPING" src="{{ page.digital_standard_criteria_image_image }}" />
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row case-study-label">
      <div class="col-12 col-md-3 col-lg-4 || case-study-label || d-flex justify-content-end text-right">
        <h1>WHO WAS INVOLVED?</h1>
      </div>
      <div class="col-12 col-md-9 col-lg-8">
        {{ page.who_was_involved_html }}
      </div>
    </div>
  </div>
</section>