---
layout: default
---
<script>
  function toggleSidebar() {
    document.getElementById("standardSidebar").classList.toggle('active');
  }
</script>

{% assign section = site.data.standards[page.slug] %}


<!-- <div class="d-flex"> -->
<div class="my-5" >
  <div id="standardSidebar" class="sidebar">
    <button class="sidebar-toggle" onclick="toggleSidebar()">
      <i class="ri-more-2-fill"></i>
    </button>
    {% include standard/sectionnav.html %}
  </div>
  <div class="standard-content" style="margin-top: 130px;">
    <div class="m-5">
      {% for principle in section.principles %}
        {% for string in principle.standards %}
          {% assign slug = string | split: '/' | slice: 1 | first %}
          {% assign standard = site.standards | where: 'slug', slug | first %}
          {% case standard.standard_state %}
            {% when '1: Green' %}
              {% assign status = 'bg-success' %}
            {% when '2: Yellow' %}
              {% assign status = 'bg-warning' %}
            {% else %}
              {% assign status = 'bg-danger' %}
          {% endcase %}

          {% include standard/breadcrumbs.html %}

          <div id="{{ slug }}" class="row" >
            <div class="col-12">
              <div class="d-flex align-items-center flex-wrap">
                <div>
                  <h1 class="text-serif text-thin mr-5 mb-n1" id="{{ principle.label | slugify }}">{{ principle.label }}</h1>
                </div>
                <div>
                  <div class="d-flex align-items-center">
                    <span class="bg-status mr-2 {{ status }}"></span>
                    <h2 class="blue text-uppercase m-0 text-nowrap">
                      {{ standard.title }}
                    </h2>
                    {% if standard.github_url %}
                    <a href="{{ page.github_url }}" target="_blank" class="social-link">
                      <i class="ri-github-fill  text-medium ml-2"></i>
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          {% for criteria in standard.criteria %}
            {% include standard/criteria.html %}
          {% endfor %}

        {% endfor %}
      {% endfor %}
      <div class="row">
        <div class="col-12">
          <!-- TODO add logic to next section -->
          <a href="
            {% if page.url contains '/standard/security/' %}/standard/privacy/{% endif %}
            {% if page.url contains '/standard/privacy/' %}/standard/ownership/{% endif %}
            {% if page.url contains '/standard/ownership/' %}/standard/governance/{% endif %}
            {% if page.url contains '/standard/governance/' %}/standard/security/{% endif %}
          " class="btn btn-full-width">Next Test Category:&nbsp;
        <span class="font-weight-bold">
          {% if page.url contains '/standard/security/' %}privacy {% endif %}
          {% if page.url contains '/standard/privacy/' %}ownership {% endif %}
          {% if page.url contains '/standard/ownership/' %}governance{% endif %}
          {% if page.url contains '/standard/governance/' %}security{% endif %}
          &nbsp; &#9654;
        </span>
        </a>

        </div>
      </div>
    </div>
  </div>
</div>
