{% assign current_standards = "" | split: ',' %}
{% assign num_standards = 0 %}

{% case page.standard_state %}
  {% when '1: Green' %}
    {% assign status = 'bg-success' %}
  {% when '2: Yellow' %}
    {% assign status = 'bg-warning' %}
  {% else %}
    {% assign status = 'bg-danger' %}
{% endcase %}
<div class="standard-content" style="margin-top: 53px;">
  <div class="m-5">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center flex-wrap">
          <div>
            <h1 class="text-serif text-thin mr-5 mb-0">{{ page.standard_category }}</h1>
          </div>
          <div>
            <div class="d-flex align-items-center">
              <span class="bg-status mr-2 {{ status }}"></span>
              <h2 class="blue text-uppercase m-0 text-nowrap">
                {{ page.title }}
              </h2>
              {% if page.github_url %}
              <a href="{{ page.github_url }}" target="_blank" class="social-link">
                <i class="ri-github-fill  text-medium ml-3"></i>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center">
          <h3 class="text-uppercase text-black-50 mr-4 mb-2">Criteria</h3>
          <div class="d-flex align-items-center text-primary mb-1">
            {% if page.criteria.size > 1 %}
            <a class="carousel-control-prev mt-1" href="#criteriaControls" role="button" data-slide="prev">
              <i class="ri-arrow-left-s-fill"></i>
              <span class="sr-only">Previous</span>
            </a>
            <div class="ml-1"><span data-slide-index>1</span>/{{ page.criteria.size }}</div>
            <a class="carousel-control-next mt-1" href="#criteriaControls" role="button" data-slide="next">
              <i class="ri-arrow-right-s-fill"></i>
              <span class="sr-only">Next</span>
            </a>
            {% else %}
            <div class="ml-1">{{ page.criteria.size }}/{{ page.criteria.size }}</div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>

    <div id="criteriaControls" class="carousel slide" data-interval="false" data-wrap="false">
      <div class="carousel-inner">
        {% for criteria in page.criteria %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="row">
            <div class="col-12">
              <p>{{ criteria.criteria_summary }}</p>

              {% for item in criteria.indicators %}
              <div class="row">
                <div class="col-12">
                  <div class="p-2 mt-3 bg-primary text-white text-uppercase">
                    Indicator
                  </div>
                  <p class="p-3 mb-0">{{ item.indicator }}</p>
                  {% if item.procedure_html %}
                  <div class="p-4 mb-5 bg-light">
                    <small class="text-uppercase text-mid-grey">Procedure Overview</small>
                    <div class="my-3">{{ item.procedure_html }}</div>
                  </div>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
