<div id="sectionNav">
{% for principle in section.principles %}


  <!-- <div class=" d-flex align-items-center"> -->
    <h4 class="nav-link pb-0" >{{ principle.label }}</h4>
  <!-- </div> -->


    <ul class="nav flex-column" >
      {% for string in principle.standards %}
        {% assign slug = string | split: '/' | slice: 1 | first %}
        {% assign standard = site.standards | where: 'slug', slug | first %}

        <li class="nav-item">
          <a class="nav-link py-1" href="#{{ slug }}">{{ standard.title }}</a>
        </li>
      {% endfor %}
    </ul>


{% endfor %}
  </div>