#pageHeader {
  background-color: $tds-grey-100 !important;
  .container {
    max-width: none;
  }
  a {
    border: none;
    color: $tds-grey-300;
    font-size: 0.875rem;
    padding: 8px 3px;
    margin: 0px 15px;
    &:hover,
    &:focus {
      color: $white !important;
    }
  }
  .active {
    color: $tds-blue-300 !important;
    border-bottom: 3px solid $tds-orange-200;
  }
}

#navbar-toggler-text {
  background-color: $tds-green-200;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-family: $font-family-sans-serif;
  font-weight: 600;
  padding: 5px 10px;
  box-shadow: inset 0px 0px 0px $tds-orange-200;
  transition: 0.5s;
  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
    box-shadow: inset 0px -80px 0px $tds-orange-100;
  }
}

#tds-nav-lockup {
  width: 200px;
}

.nav-icon-wrapper {
  box-shadow: inset 0px 0px 0px transparent;
  &:hover,
  &:focus {
    box-shadow: inset 0px 0px 0px transparent;
  }
}

.nav-icon {
  width: 25px;
  height: 25px;
  transition: 0.2s;
  &:hover {
    filter: brightness(1%) saturate(100%) invert(82%) sepia(20%) saturate(4891%) hue-rotate(312deg) brightness(120%)
      contrast(91%);
  }
}

.medium-icon,
.github-icon {
  transition: 0.2s;
  &:hover,
  &:focus {
    fill: $tds-orange-200;
  }
}

#nav-the-standard {
  color: $white !important;
  background-color: $tds-green-200;
  padding: 8px 15px !important;
  margin: 0px !important;
}

#standardnav {
  padding-left: 25px;
  background-color: $tds-blue-300;
  .nav-link {
    padding: 0.5rem 0.75rem;
    color: $mid;
    border: 0;
    font-size: 0.85rem;
    font-family: sofia-pro, sans-serif;
    &.active,
    &:hover {
      color: $white;
    }
  }
}
