body {
  font-size: 16px;
  line-height: 1.25rem;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  @include transition();
}

h1,
h2,
h3 {
  font-family: sofia-pro, sans-serif;

  font-style: normal;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  color: $tds-blue-300;
  font-family: serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

a {
  color: $tds-orange-100;
  text-transform: uppercase;
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 33px;
  border: 1px solid $tds-orange-200;
  display: inline-block;
  text-align: center;
}
