---
layout: page
title: The Digital Standard | About
permalink: /about/
---

<section class="p-0" id="learn-how">
  <div class="row align-items-center">
    <div class="col-12 col-md-6">
      <div class="bg-image d-none d-md-flex" style="background-image: url(/img/overview/overview-bg.jpg)">

        <div id="illustration-wrapper" class="p-5 d-flex justify-content-center align-items-center">
          {% include svg/overview-illustration.svg %}
        </div>

      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="content">
        <h2 class="text-serif p editable animate-text-fade-up">
          The Digital Standard is a framework to measure consumer values like privacy, security, and ownership.<br /><br />We seek to define industry-leading practices and enable product testing and evaluation in a fast-changing marketplace.<br /><br />Anyone can contribute to the Standard and it is updated on a quarterly basis.
        </h2>

        <a class="btn btn-outline-secondary mt-4 editable animate-text-fade-up" href="/standard/">Learn how to use the Digital Standard</a>
      </div>
    </div>
  </div>
</section>



<section id="benefits" class="bg-dark text-white">

  <div class="container-fluid">

    <div class="row mb-5 mb-lg-0 animate-section-fadeout" id="security-trigger">
      <div class="col-12 col-sm-5 col-md-6">
        <div class="content mr-sm-n5 mr-lg-2">
          <div class="animated-wrapper">
            {% include svg/security-bg.svg %}

            <img class="img-fluid animated-icon animate-benefits-image" id="security-img" alt="Security" src="/img/overview/graphics/security.svg" />

          </div>
        </div>
      </div>
      <div class="col-12 col-sm-7 col-md-6">
        <div class="content ml-2">
          <h2 class="text-secondary editable animate-text-fade-up">
            Security
          </h2>
          <p class="editable animate-text-fade-up">
            Products should be built to be secure. Electronics and software should have features that reduce the risk of attack, malware, and other threats.
          </p>

          <a class="btn btn-outline-secondary mt-4 editable animate-text-fade-up" href="/standard/security/">Documentation</a>
        </div>
      </div>
    </div>

    <div class="row mb-5 mb-lg-0 animate-section-fadein animate-section-fadeout " id="privacy-trigger">
      <div class="col-12 col-sm-7 col-md-6 ">
        <div class="content mr-sm-n5 mr-lg-2">
          <div class="animated-wrapper">
            {% include svg/privacy-bg.svg %}

            <img class="img-fluid animated-icon animate-benefits-image" alt="Privacy" src="/img/overview/graphics/privacy.svg" />

          </div>
        </div>
      </div>
      <div class="col-12 col-sm-5 col-md-6">
        <div class="content ml-2">
          <h2 class="text-secondary editable animate-text-fade-up">
            Privacy
          </h2>
          <p class="editable animate-text-fade-up">
            Products should preserve consumer privacy. Consumer information that is collected by any product or service should be safeguarded and kept private.
          </p>
          <a class="btn btn-outline-secondary mt-4 editable animate-text-fade-up" href="/standard/privacy/">Documentation</a>
        </div>
      </div>



    </div>

    <div class="row mb-5 mb-lg-0 animate-section-fadein animate-section-fadeout " id="ownership-trigger">
      <div class="col-12 col-sm-5 col-md-6">
        <div class="content mr-sm-n5 mr-lg-2">
          <div class="animated-wrapper">
            {% include svg/ownership-bg.svg %}
            <img class="img-fluid animated-icon animate-benefits-image" alt="ownership" src="/img/overview/graphics/ownership.svg" />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-7 col-md-6">
        <div class="content ml-2">
          <h2 class="text-secondary editable animate-text-fade-up">
            Ownership
          </h2>
          <p class="editable animate-text-fade-up">
            Products should protect the idea of ownership. When consumers buy products, they should be able to alter, fix, or resell them.
          </p>

          <a class="btn btn-outline-secondary mt-4 editable animate-text-fade-up" href="/standard/ownership/">Documentation</a>
        </div>
      </div>
    </div>

    <div class="row mb-5 mb-lg-0 animate-section-fadein animate-section-fadeout" id="governance-trigger">
      <div class="col-12 col-sm-7 col-md-6">
        <div class="content mr-sm-n5 mr-lg-2">

          <div class="animated-wrapper">
            {% include svg/governance-bg.svg %}
            <img class="img-fluid animated-icon animate-benefits-image" alt="governance" src="/img/overview/graphics/governance.svg" />
          </div>
        </div>

      </div>
      <div class="col-12 col-sm-5 col-md-6">
        <div class="content ml-2">
          <h2 class="text-secondary editable animate-text-fade-up">
            Governance
          </h2>
          <p class="editable animate-text-fade-up">
            Companies should act ethically. Their products should be designed to help protect freedom of expression, address accessibility, and combat harassment.
          </p>
          <a class="btn btn-outline-secondary mt-4 editable animate-text-fade-up" href="/standard/governance/">Documentation</a>
        </div>
      </div>

    </div>

  </div>

























</section>





<section id="how-to" class="bg-primary bg-image" style="background-image: url(/img/overview/how-to-bg.jpg);">
  <div class="container bg-white">
    <div class="row">
      <div class="col-12">
        <div class="m-3 m-md-5 p-3 p-md-5 text-center">
          <h2 class="text-primary mb-3 editable animate-text-fade-up">
            How to use The Digital Standard
          </h2>
          <p class="editable animate-text-fade-up">
            The Digital Standard is built upon guiding values that are essential to building consumer confidence in technology. Each principle within The Digital Standard is presented with supporting criteria, indicators and methodologies to guide product teams, researchers and testers with evaluations.
          </p>
          <hr class="border-white" />
          <h2 class="pt-4 mb-4 text-mid-grey editable animate-text-fade-up">
            The Digital Standard encourages manufacturers to:
          </h2>
          <div class="row ">
            <div class="col-12 col-lg-4 border-right animate-text-fade-up-delay d-flex align-items-center">
              <div class="px-4">
                <p class="editable ">
                  <small>Apply principles as fundamental features of building and designing products and services</small>
                </p>
              </div>
            </div>

            <div class="col-12 col-lg-4 animate-text-fade-up-delay d-flex align-items-center">
              <div class="px-4">
                <p class="editable">
                  <small>Test and evaluate products with the appropriate methodologies outlined in the documentation prior to release</small>
                </p>
              </div>
            </div>

            <div class="col-12 col-lg-4 border-left animate-text-fade-up-delay d-flex align-items-center">
              <div class="px-4">
                <p class="editable">
                  <small>Immediately resolve any potential conflicts that products might have with the criteria and indicators outlined</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="overview-why">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 animate-text-fade-up || mb-3 mb-lg-0 || text-center text-lg-left">
        <h2 class="text-primary editable ">
          How the Digital Standard shapes the marketplace
        </h2>
      </div>
      <div class="col-12 col-lg-8 animate-text-fade-up">
        <p class="editable">
          Technology brings greater convenience to our lives, but it doesn&rsquo;t always reflect consumers&rsquo; best interests. The Digital Standard addresses consumers&rsquo; evolving needs and expectations of digital products. By defining an industry baseline, the Digital Standard helps manufacturers know what it looks like to prioritize for consumer safety.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="overview-vision" class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 ">
        <div class="pb-4 pl-lg-5 editable text-center text-lg-left animate-text-fade-up overview-vision-title sticky-top">
          <h2>How we are working towards our vision:</h2>
        </div>
      </div>
      <div class="col-12 col-lg-9 " id="overview-row-wrapper">
        <div class="row overview-row" id="overiew-row-one">
          <div class="col-12 col-sm-3 col-lg-4 ">
            <h3 class="text-secondary text-md-right text-large editable">
              Define.
            </h3>
          </div>
          <div class="col-12 col-sm-9 col-lg-8  ">
            <p class="editable">
              The Digital Standard is created by a broad community of product developers, researchers and technologists that continually iterate on the criteria. We use indicators and methodologies that are built into the Digital Standard to better define how a product represents people&rsquo;s needs and interests.
            </p>
          </div>
        </div>
        <div class="row overview-row" id="overiew-row-two">
          <div class="col-12 col-sm-3 col-lg-4 ">
            <h3 class="text-secondary text-md-right text-large editable">
              Use.
            </h3>
          </div>
          <div class="col-12c col-sm-9 col-lg-8  ">
            <p class="editable">
              Our coalition of independent testing partners uses The Digital Standard to openly test, evaluate and report on how connected tech manufacturers address digital rights in product development and design, empowering people to make smarter choices about the products they purchase.
            </p>
          </div>
        </div>
        <div class="row  overview-row" id="overiew-row-three">
          <div class="col-12 col-sm-3 col-lg-4 ">
            <h3 class="text-secondary text-md-right text-large editable">
              Influence.
            </h3>
          </div>
          <div class="col-12 col-sm-9 col-lg-8 ">
            <p class="editable">
              The Digital Standard is an opportunity for manufacturers, entrepreneurs and investors to prioritize these principles as a competitive advantage in product design and positioning to build consumer confidence. CR engages with manufacturers before publishing results, so they have an opportunity to respond quickly to consumer needs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="race-to-top" class="bg-primary text-white p-0">
  <div class="container-fluid py-5">
    <div class="row d-none">
      <div class="col-12 col-md-6">
        <div class="text-center content">
          <h2 class="editable animate-text-fade-up">
            The Race to the Top Report
          </h2>
          <p class="editable animate-text-fade-up">
            Do consumers prioritize privacy and security over other considerations in their purchasing behavior?
          </p>
          <!-- TODO: add report and link -->
          <a class="btn btn-outline-white editable animate-text-fade-up" href="#">Download Case Study</a>
        </div>
      </div>
    </div>
  </div>
</section>
